.page {
  max-width: 390px;
  margin: 0 auto;
  background: #fff;
  min-height: 100vh;
  padding-bottom: 140px;
  font-family: Inter;
}

/* HEADER */
.header {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.backBtn {
  position: absolute;
  left: 16px;
  background: none;
  border: none;
  font-size: 20px;
}

.headerTitle {
  font-weight: 700;
  font-size: 16px;
}

/* ORDER INFO */
.orderInfo {
  height: 36px;
  padding: 8px 20px;
  background: linear-gradient(90deg, #0061FF 17%, #5193FF 100%);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderInfoText {
  font-size: 13px;
}
.orderInfoRight {
  display: flex;
  font-size: 13px;
  font-weight: 600;
}

/* SECTION LAYOUT */
.section {
  padding: 20px;
}

.sectionTitle {
  font-weight: 700;
  font-size: 16px;
}

.sectionDesc {
  margin-top: 4px;
  font-size: 12px;
  color: #666;
}

/* INPUT */
.label {
  display: block;
  margin-top: 16px;
  margin-bottom: 6px;
  font-size: 13px;
  font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 12px;
line-height: 140%;
letter-spacing: 0%;
/* text-align: center; */

}

.inputWrap {
  position: relative;
}

.iconUser {
  position: absolute;
  left: 12px;
  top: 9px;
}

.input {
  width: 100%;
  padding: 8px 12px 8px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.phoneRow {
  display: flex;
  gap: 8px;
}

.countryCode {
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  min-width: 64px;
  text-align: center;
}

.phoneInput {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* REGISTER BOX */
.registerBox {
  margin-top: 12px;
  height: 45px; /* dari 74 → 45 */
  padding: 12px;
  border-bottom: 6px solid #eee;
  background: #EAF5FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;          /* penting: supaya gift bisa keluar */
  overflow: visible;           /* gambar bisa keluar box */
}

.registerText {
  font-size: 12px;
  font-weight: 400;
}

.giftImage {
  width: 120px;                /* dari 80 → 120px */
  position: absolute;
  right: -10px;                /* geser keluar ke kanan */
  top: -42px;                  /* geser keluar ke atas */
}

/* PAYMENT */
.paymentBox {
  border: 1px solid #ddd;
  padding: 6px 12px;
  border-radius: 12px;
  margin: 12px 0;
}

.paymentBoxTitle {
  font-weight: 600;
  font-size: 16px;
}

.paymentBoxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.paymentBoxIcon {
  width: 135px;
  height: auto;
}

.paymentItem {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paymentItemLeft {
  display: flex;
  font-size: 14px;
}

.iconImg {
  margin-right: 25px;
  image-rendering: -webkit-optimize-contrast;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.radio {
  width: 18px;
  height: 18px;
  border-radius: 999px;
  border: 1px solid #FC661A;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

.selected {
  border-color: #FC661A;
}

/* STICKY BAR */
.sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 390px;
  margin: 0 auto;
  background: #fff;
  padding: 16px;
  border-top: 1px solid #eee;
}

.stickyTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.totalLabel {
  font-size: 14px;
}

.totalValue {
  font-size: 14px;
  font-weight: 700;
}

.payBtn {
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 9999px;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(90deg, #FF8040, #FC661A);
}
