/* ROOT WRAPPER — agar bisa sticky saat search aktif */
.wrapper {
  width: 100%;
  background: #fff;
  padding-bottom: 6px;
  position: relative;
  z-index: 5;
}


/* MAIN BAR */
.root {
  display: flex;
  align-items: center;
  gap: 8px;
  /* padding: 10px 25px; */
  justify-content: space-between;
  box-sizing: border-box;
}

/* SEARCH BOX */
.search {
  width: 276px;
  height: 42px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  padding: 0 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
}

.search input {
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
  padding: 12px 0;
}

/* SEARCH / CLEAR BUTTON */
.searchBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
}

/* VIEW SWITCHER */
.switcher {
  width: 58px;
  height: 32px;
  border-radius: 9999px;
  border: 0.8px solid rgba(0, 0, 0, 0.08);
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.switcherButton {
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 160ms ease;
}

.active {
  background: linear-gradient(
    90.35deg,
    #fc671a 17.45%,
    #ff8527 59.97%,
    #e97400 86.94%,
    #e97800 116.56%
  );
  color: white;
  box-shadow: 0 4px 10px rgba(252, 102, 26, 0.12);
}

/* TEXT PENCARIAN */
.searchResultText {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  padding: 6px 25px;
  text-align: left;
  color: #111827;
}

.stickySearch {
  position: sticky;
  top: var(--header-height, 60px);
  z-index: 20;
  background: #fff;
}